body {
    /* font */
    font-family: "Poppins";
    font-size: 18px;

    /* flex */
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* colors */
    background-color: #132043;
    color: #fdf0f0;
}
nav {
    background-color: #132043;
}
footer {
    margin-top: auto;
    padding: 50px;
    height: 250px;
    background-color: #0f1935;
}

nav .navbar-brand {
    font-size: xx-large;
}
.navbar-brand img {
    height: 75px;
}
nav .nav-link {
    color: #fdf0f0;
}
nav .nav-link:hover {
    color: #f1b4bb;
}

.container {
    margin-top: auto;
}

.form-control {
    color: #fdf0f0;
    background-color: #1f4172;
    border-radius: 25px;
    border: none;
    width: 250px;
    height: 50px;
}
.form-control::file-selector-button {
    height: 50px;
}
.form-control:focus {
    color: #fdf0f0;
    background-color: #1f4172;
    border: 1px;
    border-color: #fdf0f0;
}

.btn {
    background-color: #132043;
    border-radius: 25px;
    width: 250px;
    height: 50px;
}
